<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-3">
    <% if(typeof(submissions) !== 'undefined') { %><% submissions.forEach(submission => { %><% }) %><% } %>  
    <div class="col">
        <div class="card shadow-sm">
            <div class="card-body">
                <h5>gdfgdfg</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <div class="d-flex justify-content-between align-items-center" style="margin-bottom: 4px">
                    <div class="btn-group" style="margin-right: 4px;">
                        <span>By <span style="color: rgb(243, 182, 67);"> fsdfsdfsd dsadsadsa adsadsadas</span></span>
                    </div>
                   
                    <% if(typeof(closure_date) !== 'undefined') { %><% } %>  
                    <% if(typeof(final_closure_date) !== 'undefined') { %><% } %>  
                </div>
                <i style="color: rgb(121, 121, 121)" class="fa-solid fa-stopwatch"></i>   <small class="text-muted">9 mins</small>
                <a href="#" class="stretched-link"></a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card shadow-sm">
            <div class="card-body">
                <h5>gdfgdfg</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                    <!-- <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button> -->
                    <span>By</span>&nbsp<span style="color: rgb(243, 182, 67);"> fsdfsdfsd</span>
                    </div>
                    <% if(typeof(closure_date) !== 'undefined') { %><% } %>  
                    <% if(typeof(final_closure_date) !== 'undefined') { %><% } %>  
                </div>
                <small class="text-muted">9 mins</small>
            </div>
        </div>
    </div>
   
    <div class="col">
        <div class="card shadow-sm">
            <div class="card-body">
                <h5>gdfgdfg</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                    <!-- <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button> -->
                    <span>By</span>&nbsp<span style="color: rgb(243, 182, 67);"> fsdfsdfsd</span>
                    </div>
                    <% if(typeof(closure_date) !== 'undefined') { %><% } %>  
                    <% if(typeof(final_closure_date) !== 'undefined') { %><% } %>  
                    <small class="text-muted">9 mins</small>
                </div>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card shadow-sm">
            <div class="card-body">
                <h5>gdfgdfg</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                    <!-- <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button> -->
                    <span>By</span>&nbsp<span style="color: rgb(243, 182, 67);"> fsdfsdfsd</span>
                    </div>
                    <% if(typeof(closure_date) !== 'undefined') { %><% } %>  
                    <% if(typeof(final_closure_date) !== 'undefined') { %><% } %>  
                    <small class="text-muted">9 mins</small>
                </div>
            </div>
        </div>
    </div>
</div>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />

